<!DOCTYPE HTML>
<!--
  Road Trip by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>준석❤️️소정 모바일청첩장</title>
    <meta property="og:title" content="10월 18일 준석❤️️소정 결혼합니다.">
    <meta property="og:image" content="images/opening.jpg">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/roadtrip.css"/>
    <link rel="stylesheet" href="assets/css/custom.css"/>
    <link rel="stylesheet" href="assets/css/chatbox.css"/>
    <style>
    </style>

    <link rel="stylesheet" href="https://photoswipe.com/dist/default-skin/default-skin.css?v=4.1.3-1.0.4">
    <link rel="stylesheet" href="assets/css/photoswipe.css">
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="logo">
        <a href="#">준석 & 소정 결혼 초대장</a>
    </div>
    <!--<a href="#menu"><span>Menu</span></a>-->
</header>

<%- include('photoswipe_template', {}); %>

<section id="banner" class="bg-img" data-bg="http://k.kakaocdn.net/dn/cuIRPg/btqGgkYmxgQ/pAenNKkdK9fztOb0oBNp60/img.jpg">
    <div class="inner">
        <header>
            <div class="our_name">
                <h1 style="margin: 0; font-size: 3.5em;">이준석</h1>
                <h2 style="padding-bottom: 0.5em; padding-top: 0.5em; margin: 0; color: rgba(255, 255, 255 ,0.75);">&</h2>
                <h1 style="margin: 0; font-size: 3.5em;">김소정</h1>
            </div>
            <!--<h1>결혼합니다</h1>-->
            <div class="dummy_padding" style="visibility: hidden;">
                <h2>...</h2>
                <h2>...</h2>
                <h2>...</h2>
                <h2>...</h2>
            </div>
            <div class="wedding_location">
                <h2 style="margin: 0;">2020.10.18 (일)</h2>
                <h2>12:30 PM</h2>
                <h2>상록아트홀 5층 아트홀</h2>
            </div>
        </header>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="http://k.kakaocdn.net/dn/u9TNN/btqGdMaGmkp/zJxVZcmVLEflodEOK6CwG1/img.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>둘의 이야기</h2>
            </header>
            <div class="content">
                <div class="intro_text" style="color: ivory; opacity: 0.7;">
                    <p>
                        <i style="font-size: 1.2em; margin: 0; padding-bottom: .5em">" 고맙습니다 사랑합니다 "</i>
                        <br>
                        <text style="0.9em;">작은 것에도 감사하며 적극적으로 표현하는 남자</text>
                        <br><br>

                        <i style="font-size: 1.2em; margin: 0; padding-bottom: .5em">" 오늘 하루도 수고했어요 "</i>
                        <br>
                        <text style="0.9em;">늘 변함없이 느티나무같은 여자</text>
                        <br>

                    </p>
                    <p style="font-size: .9em;">
                    두 사람이 행복한 미래를 그려나가려 합니다
                        <br>
                    부디 자리하시어 새로운 출발을 응원해주시고
                        <br>
                    기쁨을 함께해 주시기 바랍니다.
                    </p>
                </div>

                <div class="person_list">
                    <div class="main_person">
                        <h3><span style="color: powderblue;">신랑</span> 이준석</h3>
                        <h3><span style="color: lightpink;">신부</span> 김소정</h3>
                    </div>

                    <div class="flex flex-4">
                        <div class="additional_person" style="width: 48%">
                            <h3 style="color: powderblue;">신랑측 혼주</h3>

                            <div class="parent_person">
                                <h4><span>아버지</span> 이용준</h4>
                                <h4><span>어머니</span> 김영희</h4>
                            </div>
                        </div>

                        <div class="additional_person" style="width: 48%">
                            <h3 style="color: lightpink;">신부측 혼주</h3>

                            <div class="parent_person">
                                <h4><span>아버지</span> 김기종</h4>
                                <h4><span>어머니</span> 정연욱</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </article>
    </div>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="http://k.kakaocdn.net/dn/ccm1Qk/btqGdtWAlDo/NOdRTxohhQOPg8zqzk7Wk1/img.jpg" style="height: 90%;">
    <div class="inner">
        <article class="box" style="padding:0.3em;">
            <header>
                <h2>웨딩 사진</h2>
            </header>
            <div class="my-gallery">
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbelzDf%2FbtqGK4HAw7z%2F4vzOf3nmGh5Dl46sIW5zZk%2Fimg.jpg" data-size="1280x796">
                    <img src="http://k.kakaocdn.net/dn/bodHJx/btqGGGnPBDT/IPF4rQ6CqQX205VMmuzsC1/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FGDu4O%2FbtqGNCKNINM%2FVKQFlfTlP0Kpdacvi3tKu1%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/cbYS2M/btqGPOK36CJ/qpDlYKDKpgBQQUduL7MjIk/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FvDJTT%2FbtqGGH1rhlP%2FaOi6qxnfvuwj5mQgK5o3i1%2Fimg.jpg" data-size="1280x1837">
                    <img src="http://k.kakaocdn.net/dn/cUcocC/btqGGGg6ME4/MsQdzTJAzePVQhglo8MCKK/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcbCtGE%2FbtqGQb7euDE%2FUSjCPSttaS8KKTklSUkKO0%2Fimg.jpg" data-size="1280x1706">
                    <img src="http://k.kakaocdn.net/dn/cxBVIM/btqGK3hBNdo/5P4fZzZo8VqKbLwgntJQtK/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcvUvSS%2FbtqGJwEj60j%2FkTVJKrgK6xOLbiEdSXUHbk%2Fimg.jpg" data-size="1280x1923">
                    <img src="http://k.kakaocdn.net/dn/cAKh5r/btqGFbBAxz5/JGRz2C4zkN6qkYhYY7QY4k/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbPEQos%2FbtqGK3PrboO%2FPlQ1O424CZ9LoYIkqfkg71%2Fimg.jpg" data-size="1280x850">
                    <img src="http://k.kakaocdn.net/dn/bg2hZZ/btqGNCxhygl/ix9TDkXD5JFdCMhmLIA6fK/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FsIVJ1%2FbtqGQcrwHRB%2F4XE0L4hbt9Z7UL1kdmcVf0%2Fimg.jpg" data-size="1280x1804">
                    <img src="http://k.kakaocdn.net/dn/kpTIw/btqGK6yI8Dc/q5KQ2ivvGkeW2CsSasXWSk/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FmlpnX%2FbtqGK4gw7YX%2FkNTlK6k6YUeo89QPVv4G0k%2Fimg.jpg" data-size="1280x1868">
                    <img src="http://k.kakaocdn.net/dn/TIbir/btqGG0Gnvyp/FCRdFJAG3aUcrVx4a8pzn0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbJjBOP%2FbtqGHMgWli9%2F4j8FNLt1UkeRYu9ZP0mgmK%2Fimg.jpg" data-size="1280x1804">
                    <img src="http://k.kakaocdn.net/dn/qtPqV/btqGJu0PmKH/aO2v0C8eHhsSkUSgS7zqn0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FKrA5b%2FbtqGG8Y2LyS%2FStQO9ffxbnXauZTbkYSAs0%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/7lKrl/btqGG0zE1UP/onq3K4x5sCZHli1zKkmM7k/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc883kB%2FbtqGK5s2eQ5%2FBFxfOnVgJT1tQRNgWga8lK%2Fimg.jpg" data-size="1280x1906">
                    <img src="http://k.kakaocdn.net/dn/yWZx9/btqGH15UyQk/7QauQnw1CbQTV5s5fxnsyK/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcJfAMS%2FbtqGHNGSo3s%2FVvDboYwqiNO2TBQ1NN5bM1%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/bGFEgv/btqGIgIQMBR/yCjRe2qk3j6PLkKR8Djyo0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbBTTga%2FbtqGHp6Z9Ce%2FBrSsOFEN0Lk05HGAk1H9Ck%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/5226C/btqGHqkClUI/JLSSg4ci6ukQG7AE3oaT40/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FnVuA1%2FbtqGG94I6Ir%2FbnpbvmcbKkLN62NWoeHOe1%2Fimg.jpg" data-size="1280x845">
                    <img src="http://k.kakaocdn.net/dn/kbubP/btqGJu0Ppwy/0Vi3mMKZs9KnN5bA3QA82K/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdzey6Q%2FbtqGK4HAxg4%2FlrIbjjhA8Fu5am4S90CZv0%2Fimg.jpg" data-size="1280x1600">
                    <img src="http://k.kakaocdn.net/dn/bvRaaW/btqGK32Y9GQ/pQjFGkmf4hEhyiccBANJR0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fdz4MwO%2FbtqGHMnIsE8%2FpIw0TBmWUKboeTOvl9QzzK%2Fimg.jpg" data-size="1280x1935">
                    <img src="http://k.kakaocdn.net/dn/byxEJ0/btqGG8Si2US/IQ7kQHFlm4dJyFWQCkqRYk/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FcsOmnu%2FbtqGNCcXAmx%2Fs7oMWCFaVUU7O5AhvlSGs0%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/tX52L/btqGIhAXCq1/pkCc5nFy05j6CFRKk6FAV1/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FXaP1j%2FbtqGH2qbEAp%2F5cuXB6XlfeX02yMjwOyQ4K%2Fimg.jpg" data-size="1280x1921">
                    <img src="http://k.kakaocdn.net/dn/c3HIdm/btqGK5zRaEC/BcGKfyFdCLMy8fxTaYEWOk/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FCmJjS%2FbtqGJvMchSY%2FvEdl1qz10fnW42W0dsbnuk%2Fimg.jpg" data-size="1280x1823">
                    <img src="http://k.kakaocdn.net/dn/IjJoj/btqGNCxhFQu/ytSN7rtnKKnsGSltTJZJk0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbvvEcT%2FbtqGJvyDJQC%2FrnssjlcFHcesObYOXASjkk%2Fimg.jpg" data-size="1280x1925">
                    <img src="http://k.kakaocdn.net/dn/IB2MB/btqGJu0Pui7/PuyWr49M6wgfKoNidEGzP0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fk6SZm%2FbtqGIKbPYtk%2Fbm8j49AxU7xJkeSE8tGbr0%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/cyzQjT/btqGJuGxN29/BbxWHKXjSs58cKosQwRAu0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2F9EAnU%2FbtqGK5GxFow%2FDvTscaZsy7efN9qjcIl5i0%2Fimg.jpg" data-size="1280x1889">
                    <img src="http://k.kakaocdn.net/dn/c14SdJ/btqGNDbTGPr/96xmMIRpKGJ9NXGZk5K1TK/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FSgIiN%2FbtqGK3IGnYq%2FoAkRf4yvWBZsoOnASWU5J0%2Fimg.jpg" data-size="1280x850">
                    <img src="http://k.kakaocdn.net/dn/9q40n/btqGK3onbJn/jpMmW8TSNYJUh4E5iYgSp0/img.jpg" class="zoom img-fluid " alt="">
                </a>
                <a class="image grid more_photo" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FHHKRj%2FbtqGH00daKB%2FsT4CYAqBKHYWT49inyC6A1%2Fimg.jpg" data-size="1280x850">
                    <img src="http://k.kakaocdn.net/dn/Qz7IT/btqGG8Si771/UPk4WzwuP4Mxaq4tSWFkjK/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <button class="collapsible">사진 더보기 (+18)</button>

            </div>
        </article>
    </div>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="https://imagescdn.gettyimagesbank.com/500/202008/a12073785.jpg">
    <div class="inner">
        <article class="box" style="padding-bottom: 0.5em;">
            <header>
                <h2>오시는길</h2>
            </header>
            <!--<div class="content" id="map" style="width:500px;height:400px; position: center">-->
            <div class="content come-map" id="map" style="width: 100%; height: 400px; position: center"></div>
            <!--<button onclick="displayMap()">지도 초기화</button>-->
            <!--<button onclick="setZoomable(true)">확대/축소 켜기</button>-->

            <p style="margin: 0.2em;">
                <span>상록아트홀</span> 5층 아트홀
            </p>

            <p style="margin: 0;">
                <span>서울 강남구 언주로 508 </span>공무원연금공단 5층
            </p>

            <p style="margin: 0;">
                <span>02-564-5757</span>
                <!--<a href="tel:02-564-5757" target="_blank" class="button alt" style="width:10%">-->
                <!--<img src="/images/btn_tel.png" width="15px">-->
                <!--</a>-->
            </p>

            <footer style="padding: 1em;">
                <a href="//map.kakao.com/link/map/2009675378" target="_blank" class="button alt">카카오맵 바로보기</a>
                <!--<a href="//map.kakao.com/link/to/2009675378" target="_blank" class="button alt">카카오맵 길찾기</a>-->
                <!--<a href="generic.html" class="button alt">네이버맵 바로보기</a>-->
                <!--<a href="generic.html" class="button alt">티맵 바로보기</a>-->
            </footer>
        </article>
    </div>
</section>

<section id="four" class="wrapper post bg-img" data-bg="https://imagescdn.gettyimagesbank.com/500/202007/jv12052891.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>방명록</h2>
            </header>
            <div class="content visitor">

                <marquee behavior="scroll" direction="left" scrollamount="5" style="margin: 0">
                </marquee>
                <marquee behavior="scroll" direction="right" scrollamount="7" style="margin: 0">
                </marquee>
                <marquee behavior="scroll" direction="left" scrollamount="6" style="margin: 0">
                </marquee>
                <marquee behavior="scroll" direction="right" scrollamount="4" style="margin: 0">
                </marquee>
            </div>
        </article>
    </div>
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/roadtrip.js"></script>
<script src="assets/js/visitor.js"></script>

<script src="assets/js/photoswipe.min.js"></script>
<script src="assets/js/photoswipe-ui-default.min.js"></script>

<script src="assets/js/photo-swipe.js"></script>
<script src="assets/js/morephoto.js"></script>

<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd4b8165f74901761b7e296d31a76033&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            // center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            center: new kakao.maps.LatLng(37.5039660612952, 127.042909941112), // 지도의 중심좌표
            // draggable: false,
            level: 5 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    var coords = new kakao.maps.LatLng(37.5039660612952, 127.042909941112);
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });

    function focusOnMarker() {
        var coords = new kakao.maps.LatLng(37.5039660612952, 127.042909941112);
        map.setCenter(coords);
    }

    kakao.maps.event.addListener(marker, 'click', function () {
        focusOnMarker();
    });

    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px; text-align:center; color:black;" onclick="focusOnMarker()">상록아트홀 5층</div>',
        // removable : iwRemoveable
    });
    infowindow.open(map, marker);

    map.setCenter(coords);
    // map.setZoomable(false);

    // $(".come-map").bind("wheel mousewheel DOMMouseScroll", function(e){
    //     e.preventDefault();
    // });



</script>


</body>
</html>