<!DOCTYPE HTML>
<!--
  Road Trip by TEMPLATED
  templated.co @templatedco
  Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
<head>
    <title>준석❤️️소정 모바일청첩장</title>
    <meta property="og:title" content="10월 18일 준석❤️️소정 결혼합니다.">
    <meta property="og:image" content="images/opening.jpg">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="assets/css/main.css"/>
    <style>
    </style>

    <link rel="stylesheet" href="https://photoswipe.com/dist/default-skin/default-skin.css?v=4.1.3-1.0.4">
    <link rel="stylesheet" href="assets/css/photoswipe.css">
</head>
<body>

<!-- Header -->
<header id="header">
    <div class="logo">
        <a href="#">준석 & 소정 결혼 초대장</a>
    </div>
    <!--<a href="#menu"><span>Menu</span></a>-->
</header>

<!-- Nav -->
<!--<nav id="menu">-->
<!--<ul class="links">-->
<!--<li>-->
<!--<a href="index.html">Home</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="generic.html">Generic</a>-->
<!--</li>-->
<!--<li>-->
<!--<a href="elements.html">Elements</a>-->
<!--</li>-->
<!--</ul>-->
<!--</nav>-->

<%- include('photoswipe_template', {}); %>

<section id="banner" class="bg-img" data-bg="http://k.kakaocdn.net/dn/cuIRPg/btqGgkYmxgQ/pAenNKkdK9fztOb0oBNp60/img.jpg">
    <div class="inner">
        <header>
            <div class="our_name">
                <h1 style="margin: 0;">이준석</h1>
                <h2 style="padding-bottom: 0.5em; padding-top: 0.5em; margin: 0;">&</h2>
                <h1>김소정</h1>
            </div>
            <!--<h1>결혼합니다</h1>-->
            <div class="dummy_padding" style="visibility: hidden;">
                <h2>...</h2>
                <h2>...</h2>
                <h2>...</h2>
                <h2>...</h2>
            </div>
            <div class="wedding_location">
                <h2 style="margin: 0;">2020.10.18 (일)</h2>
                <h2>12:30 PM</h2>
                <h2>상록아트홀 5층 아트홀</h2>
            </div>
        </header>
    </div>
</section>

<!-- One -->
<section id="one" class="wrapper post bg-img" data-bg="http://k.kakaocdn.net/dn/u9TNN/btqGdMaGmkp/zJxVZcmVLEflodEOK6CwG1/img.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>둘의 이야기</h2>
            </header>
            <div class="content">
                <p>
                    처음만났던 떨림을 아직도 기억합니다.
                    같이 수업듣는 강의실은 내내 봄이었고
                    만나온 지난 6년은 여름이었습니다.
                </p>
                <p>
                    계절이 무르익는 어느 10월 가을 날
                    다시 새로운 봄을 시작하려합니다.
                    그 따뜻한 출발을 응원해주시고 지켜봐주시기 바랍니다.
                </p>

                <div>
                    <p>신랑 이준석</p>

                    <p>신부 김소정</p>

                    <div>
                        <div>
                            <p>신랑측 혼주</p>

                            <div>
                                아버지 이용준
                                어머니 김영희
                            </div>
                        </div>

                        <div>
                            <p>신부측 혼주</p>

                            <div>
                                아버지 김기종
                                어머니 정연옥
                            </div>
                        </div>
                    </div>



                </div>
            </div>
        </article>
    </div>    <a href="#two" class="more">Learn More</a>
</section>

<!-- Two -->
<section id="two" class="wrapper post bg-img" data-bg="http://k.kakaocdn.net/dn/ccm1Qk/btqGdtWAlDo/NOdRTxohhQOPg8zqzk7Wk1/img.jpg">
    <div class="inner">
        <article class="box" style="padding:0.3em;">
            <header>
                <h2>웨딩 사진</h2>
            </header>
            <div class="my-gallery">
                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FHml5n%2FbtqGdQ4Spyd%2FLRPaIMefFsHPlR5c9TQcn1%2Fimg.jpg" data-size="1280x853">
                    <img src="http://k.kakaocdn.net/dn/9CX0j/btqGg6yt1hZ/MpqeY8pu6PXKaVEnsOWZT1/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbQIqrb%2FbtqGg6ZxuaR%2FhpI3p0tiinWeGt215D3Fbk%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/cGJVaB/btqGevsPewD/OqFYlB7FD9CBg3TlRFnLKk/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc62HZA%2FbtqGgkcXari%2FRkzKy5GMeDqxd8ctqpks2K%2Fimg.jpg" data-size="1280x853">
                    <img src="http://k.kakaocdn.net/dn/7exKO/btqGc8SMgcK/njvqfVDYFYZ6fWlVj4Oij0/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FHml5n%2FbtqGdQ4Spyd%2FLRPaIMefFsHPlR5c9TQcn1%2Fimg.jpg" data-size="1280x853">
                    <img src="http://k.kakaocdn.net/dn/9CX0j/btqGg6yt1hZ/MpqeY8pu6PXKaVEnsOWZT1/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2FbQIqrb%2FbtqGg6ZxuaR%2FhpI3p0tiinWeGt215D3Fbk%2Fimg.jpg" data-size="1280x1920">
                    <img src="http://k.kakaocdn.net/dn/cGJVaB/btqGevsPewD/OqFYlB7FD9CBg3TlRFnLKk/img.jpg" class="zoom img-fluid " alt="">
                </a>

                <a class="image grid" href="https://img1.daumcdn.net/thumb/R1280x0/?scode=mtistory2&fname=https%3A%2F%2Fblog.kakaocdn.net%2Fdn%2Fc62HZA%2FbtqGgkcXari%2FRkzKy5GMeDqxd8ctqpks2K%2Fimg.jpg" data-size="1280x853">
                    <img src="http://k.kakaocdn.net/dn/7exKO/btqGc8SMgcK/njvqfVDYFYZ6fWlVj4Oij0/img.jpg" class="zoom img-fluid " alt="">
                </a>

            </div>
            <!--<footer>-->
            <!--<a href="generic.html" class="button alt">Learn More</a>-->
            <!--</footer>-->
        </article>
    </div>
    <a href="#three" class="more">Learn More</a>
</section>

<!-- Three -->
<section id="three" class="wrapper post bg-img" data-bg="https://imagescdn.gettyimagesbank.com/500/202008/a12073785.jpg">
    <div class="inner">
        <article class="box" style="padding-bottom: 0.5em;">
            <header>
                <h2>오시는길</h2>
            </header>
            <!--<div class="content" id="map" style="width:500px;height:400px; position: center">-->
            <div class="content come-map" id="map" style="width: 100%; height: 400px; position: center"></div>
            <!--<button onclick="displayMap()">지도 초기화</button>-->
            <!--<button onclick="setZoomable(true)">확대/축소 켜기</button>-->

            <p style="margin: 0.2em;">
                <span>상록아트홀</span> 5층 아트홀
            </p>

            <p style="margin: 0;">
                <span>서울 강남구 언주로 508 </span>공무원연금공단 5층
            </p>

            <p style="margin: 0;">
                <span>02-564-5757</span>
                <!--<a href="tel:02-564-5757" target="_blank" class="button alt" style="width:10%">-->
                <!--<img src="/images/btn_tel.png" width="15px">-->
                <!--</a>-->
            </p>

            <footer style="padding: 1em;">
                <a href="//map.kakao.com/link/map/2009675378" target="_blank" class="button alt">카카오맵 바로보기</a>
                <!--<a href="//map.kakao.com/link/to/2009675378" target="_blank" class="button alt">카카오맵 길찾기</a>-->
                <!--<a href="generic.html" class="button alt">네이버맵 바로보기</a>-->
                <!--<a href="generic.html" class="button alt">티맵 바로보기</a>-->
            </footer>
        </article>
    </div>
    <a href="#four" class="more">Learn More</a>
</section>

<section id="four" class="wrapper post bg-img" data-bg="https://imagescdn.gettyimagesbank.com/500/202007/jv12052891.jpg">
    <div class="inner">
        <article class="box">
            <header>
                <h2>방명록</h2>
            </header>
            <div class="content">
                <marquee behavior="scroll" direction="left" scrollamount="5">
                    <div style="display:inline-block;">111111111111111111111111</div>
                    <div style="display:inline-block;">222222222222222222222222</div>
                    <div style="display:inline-block;">333333333333333333333333</div>
                    <div style="display:inline-block;">444444444444444444444444</div>
                </marquee>
                <marquee behavior="scroll" direction="right" scrollamount="7">
                    <div style="display:inline-block;">111111111111111111111111</div>
                    <div style="display:inline-block;">222222222222222222222222</div>
                    <div style="display:inline-block;">333333333333333333333333</div>
                    <div style="display:inline-block;">444444444444444444444444</div>
                </marquee>
                <marquee behavior="scroll" direction="left" scrollamount="6">
                    <div style="display:inline-block;">111111111111111111111111</div>
                    <div style="display:inline-block;">222222222222222222222222</div>
                    <div style="display:inline-block;">333333333333333333333333</div>
                    <div style="display:inline-block;">444444444444444444444444</div>
                </marquee>
                <marquee behavior="scroll" direction="right" scrollamount="4">
                    <div style="display:inline-block;">111111111111111111111111</div>
                    <div style="display:inline-block;">222222222222222222222222</div>
                    <div style="display:inline-block;">333333333333333333333333</div>
                    <div style="display:inline-block;">444444444444444444444444</div>
                </marquee>
            </div>
        </article>
    </div>
    <!--<a href="#four" class="more">Learn More</a>-->
</section>

<script src="assets/js/jquery.min.js"></script>
<script src="assets/js/jquery.scrolly.min.js"></script>
<script src="assets/js/jquery.scrollex.min.js"></script>
<script src="assets/js/skel.min.js"></script>
<script src="assets/js/util.js"></script>
<script src="assets/js/main.js"></script>

<script src="assets/js/photoswipe.min.js"></script>
<script src="assets/js/photoswipe-ui-default.min.js"></script>

<script src="assets/js/photo-swipe.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=cd4b8165f74901761b7e296d31a76033&libraries=services"></script>
<script>
    var mapContainer = document.getElementById('map'),
        mapOption = {
            // center: new kakao.maps.LatLng(33.450701, 126.570667), // 지도의 중심좌표
            center: new kakao.maps.LatLng(37.5039660612952, 127.042909941112), // 지도의 중심좌표
            // draggable: false,
            level: 5 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    var zoomControl = new kakao.maps.ZoomControl();
    map.addControl(zoomControl, kakao.maps.ControlPosition.RIGHT);

    var coords = new kakao.maps.LatLng(37.5039660612952, 127.042909941112);
    var marker = new kakao.maps.Marker({
        map: map,
        position: coords
    });

    function focusOnMarker() {
        var coords = new kakao.maps.LatLng(37.5039660612952, 127.042909941112);
        map.setCenter(coords);
    }

    kakao.maps.event.addListener(marker, 'click', function () {
        focusOnMarker();
    });

    var infowindow = new kakao.maps.InfoWindow({
        content: '<div style="width:150px; text-align:center; color:black;" onclick="focusOnMarker()">상록아트홀 5층</div>',
        // removable : iwRemoveable
    });
    infowindow.open(map, marker);

    map.setCenter(coords);
    map.setZoomable(false);


    // $(".come-map").bind("wheel mousewheel DOMMouseScroll", function(e){
    //     e.preventDefault();
    // });

</script>


</body>
</html>