
.chatbox__messages:nth-of-type(odd) .chatbox__messages__user-message--ind-message {
    float: right;
}
.chatbox__messages:nth-of-type(odd) .chatbox__messages__user-message--ind-message:after {
    content: "";
    position: absolute;
    margin: -1.5em -17.06em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 10px solid rgba(255, 255, 255, 0.2);
}
.chatbox__messages:nth-of-type(even) .chatbox__messages__user-message--ind-message {
    float: left;
}
.chatbox__messages:nth-of-type(even) .chatbox__messages__user-message--ind-message:after {
    content: "";
    position: absolute;
    margin: -1.5em 1.87em;
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid rgba(255, 255, 255, 0.2);
}
.chatbox__messages__user-message {
    width: 450px;
}
.chatbox__messages__user-message--ind-message {
    background: rgba(255, 255, 255, 0.2);
    margin-right: 1em;

    padding-bottom: .3em;
    height: auto;
    border-radius: 10px;

    min-width: 12em;

    display:inline-block;
}

.chatbox__messages__user-message--ind-message > p.message {
    color: #fff;
    font-size: 1em;
    margin: 0;
    padding-top: .5em;
    padding-bottom: .6em;
    padding-left: 1em;
    padding-right: .9em;

    text-align:left;
}

.chatbox__messages__user-message--ind-message > p.name {
    color: #fff;
    font-size: .8em;
    margin: 0;

    padding-right: 1em;

    color: lightskyblue;
    text-align:right;
}

.chatbox__messages__user-message--ind-message > p.name::before {
    content: "- ";
}